/* Player */
.player {
    min-width: 320px;
    background-image: linear-gradient( #D3CEDF,#F2D7D9);
    border-radius: 1rem;
    padding: 2rem;
    color: #F47C7C;
    box-shadow: 2px 2px 3px #9CB4CC;
}

/* Title */
.title {
    margin-top: 0;
    text-align: center;
}

/* Cover */
.cover {
  /*  width: 128px;
    height: auto;*/
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: block;
    margin: 0 auto 1rem auto;
}

/* Progress */
.progress-container {
    height: .6rem;
    background-color: #748DA6;
    margin-bottom: 1rem;
}

.progress {
    background-color: #FF7396;
    width: 0;
    height: 100%;
}

/* Controls */
.controls {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.controls button {
    background-color: transparent;
    border: none;
}

.controls i {
    font-size: 1.7rem;
    color: #748DA6;
}

/* Songs */
.songs {
    margin: 0;
    padding: 0;
    list-style: none;
}

.songs li {
    margin-bottom: 1rem;
}

.songs a {
    color: #FF7396;
    font-size: 1.7rem;
    font-weight: 700;
    text-decoration: none;
}

.songs a.active {
    color: #748DA6;
    font-weight: bold;
}