@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@300;500&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}

@media (min-width: 768px){ /*Esto hace que el section sea responsive, ni yo sé xq dice main y no section, 
                              pero si dice section se rompe todo, no lo toquen kjjj*/
main {
    
    margin: 14px;
    display: grid; /*Agregar grid areas y probar */
    grid-template-areas: 
    "logo desc-mimo "
    "player player "
    "news news " ;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    gap: 10px;
}
#logo-mimo{
  margin-top: 5%;
  grid-area: logo;
  }
#sec-mimo{
  margin-top: 5%;
  justify-self:center;
  grid-area: desc-mimo;
}
#sec-player{
  margin-top: 10%;
  justify-self:center;
  grid-area: player;
}
#news-div{
  margin-top: 10%;
  justify-self: center;
  grid-area: news;
}
#desc-musica{
  grid-area: musica;
}
}

body{
  background-color: rgb(242, 215, 217);
}

.h1, h2{
  font-size: calc(1.325rem + .9vw);
}
h1{
    margin: 15px;
    font-family: 'Fredoka One', cursive;
    color: #395a7b;
}


.logo {
    text-decoration: none;
    color: rgb(57, 90, 123);
    position: absolute;
    top: 45%; /*45%*/
    left: 15%;
    transform: translate(-50%, -50%);
    background: rgb(205, 125, 132);
    padding: 70px 50px;
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    border-radius: 50%;
    animation: animacion 4s linear infinite;
}
 @keyframes animacion {
   0% {
     box-shadow: 0 0 0 0 rgba(29, 171, 209, .6),  0 0 0 0 rgba(29, 171, 209, .6);
   }
 
   30% {
     box-shadow: 0 0 0 100px rgba(29, 171, 209, 0), 0 0 0 0 rgba(29, 171, 209, .6);
   }
 
   65% {
     box-shadow: 0 0 0 100px rgba(29, 171, 209, 0), 0 0 0 30px rgba(29, 171, 209, 0);
   }
 
   100% {
     box-shadow: 0 0 0 0 rgba(29, 171, 209, 0), 0 0 0 30px rgba(29, 171, 209, 0);
   }

 } /*Animación que dice Mimo*/
 



.queEsMimo  {
  width: 52rem;
  height: 15rem;
  background-color: #d3cedf;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 3px 3px 5px 5px #666;

}


/*-----------------------REPRODUCTOR-------------------------*/



/* Player */
.player {
  min-width: 10;
 /* width: 20rem;*/
  width: 28rem;
  height: 667px;
  background-image: linear-gradient( #e4a6ab,#D3CEDF);
  border-radius: 1rem;
  padding: 2rem;
  color: #F47C7C;
  box-shadow: 2px 2px 3px 3px #666;
}

/* Title */
.title {
  margin-top: 0;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  
 
}

/* Cover */
.cover {
/*  width: 128px;
  height: auto;*/
  width: 200px;
  height: 200px;
  border-radius: 100px;
  display: block;
  margin: 0 auto 1rem auto;
  
}

/* Progress */
.progress-container {
  height: .6rem;
  background-color: #748DA6;
  margin-bottom: 1rem;
  
}

.progress {
  background-color: #FF7396;
  width: 0;
  height: 100%;
}

/* Controls */
.controls {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.controls button {
  background-color: transparent;
  border: none;
}

.controls i {
  font-size: 1.7rem;
  color: #748DA6;
}

/* Songs */
.songs {
  margin: 0;
  padding: 0;
  list-style: none;
 
}

.songs li {

  margin-bottom: 0.5rem;
}

.songs a {
  color: #FF7396;
  font-family: 'Inconsolata', monospace;
  font-size: 1.7rem;
  font-weight: 700;
  text-decoration: none;
}

.songs a.active {
  color: #748DA6;
  font-weight: bold;
}

/*------------NEWSLETTER--------------*/

#newsletter{
  width: 900px;
  height: 250px;

  background-color: #e4a6aba8;
  box-shadow: 3px 3px 5px 5px #D3CEDF;
  border-radius: 50px;
}

#titulo-news{
  color: #FF7396;
  font-weight: bold;
  padding-left: 22%;
  padding-top: 1%;
  margin-bottom: 0;

}

#div-form{
  display: grid;
  grid-template-columns: 40% 60%;
  
}
#newsletter label{
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
  margin-top: 4%;
}
#newsletter input{
  width: 90%;
  background-color: #d3cedf;
  font-size: 20px;
  color:#FF7396;
  padding: 3%;
  border: none;
  border-radius: 5px;
  
}
.fa-heart , .fa-envelope{
  margin: 4%;
  color: #FF7396;
}

#nombre{
  margin-bottom: 10px;
}

#img-news{
  width: 50%;
  margin-left: 20%;
  margin-top: 4%;
}

#btn-news{
  width: 25%;
  color: #FF7396;
  background-color:#d3cedf;
  border-radius: 6px;
  border: 1px outset hsla(345, 100%, 73%, 0.452);
  margin-top: 3%;
  margin-left: 37%;
}




/*-----------ACTIVIDADES-----------------*/
#main-act{
  display: grid;
  grid-template-areas: 
            "titulo titulo" 
            "texto texto" 
            "imagen form"
            "mensaje mensaje";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  
}
#titulo-act{
  justify-self: center;
  grid-area: titulo;
}
#texto-act{
  width: 90%;
  background-color:#D3CEDF;
  border-radius: 14px;
  border: 2px outset hsla(345, 100%, 73%, 0.452);
  padding: 7px;
  text-align: center;
  font-size:large;
  justify-self: center;
  grid-area: texto;
}
#div-act{
  justify-self:flex-end;
  grid-area: form;
  width: 700px;
  height: auto;
  
}
#img-act{
  justify-self: center;
  grid-area: imagen;
}
#img{
  width: 300px;
}
#div-msj{
  grid-area: mensaje;
  justify-self: center;
  text-transform: uppercase;
}
#lista{
  text-transform: none;
  font-size: 140%;
 
  color: #FF7396;
  


}
.li{
  
  margin: 0;
  padding: 12px 0 12px 41px;
  list-style: none;
  background-image: url(/img/Mimo-act.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 32px;
  
}

/* ------ESTILO DE CHECKBOX------------*/

/* personalizar checkbox*/
.checkbox {
  display: block;
  position: relative;
  padding-left: 26px;
  
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*ocultar la casilla de verificación predeterminada del navegador*/
.form input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* personalizar checkbox */
.check {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
}

/* al pasar el mouse, agregue el color del borde */
.checkbox:hover input ~ .check {
  border: 2px solid #FF7396;
}

/* agregue color de fondo cuando la casilla de verificación esté marcada*/
.checkbox input:checked ~ .check {
  background-color: #FF7396;
  border:none;
}

/* crear la marca de verificación y ocultar cuando no esté marcada*/
.check:after {
  content: "";
  position: absolute;
  display: none;
}

/* Mostrar la marca de verificación cuando está marcada*/
.checkbox input:checked ~ .check:after {
  display: block;
}

/* estilo de marca de verificación */
.checkbox .check:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #F2D7D9;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


#boton{
  width: 25%;
  color: #FF7396;
  background-color:#d3cedf;
  border-radius: 6px;
  border: 1px outset hsla(345, 100%, 73%, 0.452);
  margin-top: 3%;
  
}


/*----------------------------------------------------Footer --------------------------------------------------*/

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #ffff;
  padding: 10px;
  font-size: 30px;
  background-color: #748DA6;
  margin: 0px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-libreoffice:before {
  content: "\eae3";
}

 /*--------------------------------------Iconos de redes-------*/

footer{
  bottom: 0;
  width: 100%;
  background-color: #748DA6;
  padding-bottom: 10px;
  height: 250px; /* Con esto borro el cuadradito rosa feo del footer:*/
}

.main-info{
  background-color: #748DA6;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 50px;
}

footer img{
  margin: 10px;
  width: 120px;
  height: 120px;
  border-radius: 58px;
}

.titulo-footer{
  background-color: #748DA6;
  font-family: 'Fredoka One', cursive;
  padding-left: 0px;
  margin: 10px;
  color: #ffff;
  font-size: 2.9rem;
}

.p-footer{
  margin: 15px;
  background-color: #748DA6;
  height: 100%;
  width: 700px;
  padding-right: 40px;
  padding-left: 50px;
  text-align: center;
  color: white;
}

.footer-links{
  background-color: #748DA6;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
#siguenos{
  background-color: #748DA6;
}

footer a{
  margin: 10px;
  text-decoration: none;
  background-color: #748DA6;
  color: #748DA6;
  background-color: white;
  border-radius: 25px;
  padding: 8px;
  transition: ease-in-out .2s;
}

a:hover{
  background-color: rgba(255, 255, 255, .6);
}

.separador{
  height: 3px;
  background-color: white;
  width: 95%;
  margin: auto;
}

.footer-redes{
 background-color: #748DA6;
  width: 98.5%;
  height: 60px;
  margin: 5px;
}

.footer-redes-span{
  background-color: #748DA6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: white;
  font-size: 1.2rem;
}

.footer-redes-iconos{
  background-color: #748DA6;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----------------------------------------------------Footer --------------------------------------------------*/