@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@300;500&family=Questrial&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}

@media (min-width: 768px){ /*Esto hace que el section sea responsive, ni yo sé xq dice main y no section, 
                              pero si dice section se rompe todo, no lo toquen kjjj*/
main {
    width: 95%;
    margin: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 10px;
}
}

body{
  background-color: rgb(242, 215, 217);
}

.h1, h2{
  font-size: calc(1.325rem + .9vw);
}
h1{
    margin: 15px;
    font-family: 'Fredoka One', cursive;
    color: #395a7b;
}


.logo { /*Animación que dice Mimo*/
    text-decoration: none;
    color: rgb(57, 90, 123);
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    background: rgb(205, 125, 132);
    padding: 70px 50px;
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    border-radius: 50%;
    margin: 50px;
    display: flex;
    justify-items: flex-start;
    animation: animacion 4s linear infinite;
  }
 @keyframes animacion {
   0% {
     box-shadow: 0 0 0 0 rgba(29, 171, 209, .6),  0 0 0 0 rgba(29, 171, 209, .6);
   }
 
   30% {
     box-shadow: 0 0 0 100px rgba(29, 171, 209, 0), 0 0 0 0 rgba(29, 171, 209, .6);
   }
 
   65% {
     box-shadow: 0 0 0 100px rgba(29, 171, 209, 0), 0 0 0 30px rgba(29, 171, 209, 0);
   }
 
   100% {
     box-shadow: 0 0 0 0 rgba(29, 171, 209, 0), 0 0 0 30px rgba(29, 171, 209, 0);
   }

 } /*Animación que dice Mimo*/
 
 .queEsMimo { /*Este es el section de la importancia de mimo*/
    background-color: #d3cedf;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px 5px #666;
    display: block;
    margin: 30px;
}

 /* Css del Timer*/
/* A partir de acá es el timer*/
main{
  display: flex;
  justify-content: center;
  align-items:flex-end;
  flex-direction: column;
}





header > h1{
  display: flex;
  justify-content: flex-start;
}

/* Elementos da tag <body> 
body{

    color: rgb(0, 0, 0);
    font: normal 14pt Arial;
    text-align: center;


    
}*/

/* Elementos con ID "main_section" */
#main_section{
    background-color: rgb(247, 241, 225);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.600);
    border-radius: 50px;


    
 

    color: rgb(74, 80, 165);

    width: 300px;
    padding: 5px;
    margin: auto;
}

/* Elementos con ID "hours", "minutes" y "seconds" */
#hours, #minutes, #seconds{
    cursor: auto;
    border-radius: 10px;

}

/* Elementos con ID "start" */
#start{
    background: rgb(90, 130, 184);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.400);

    border: 300px;
    border-radius: 30px;

    width: 80px;
    height: 35px;
    margin-top: 5px;

    color: rgb(255, 255, 255);
    font-size: 12pt;

    cursor: pointer;
}

/* Elementos con ID "start" no estado de pseudoclasse "hover" */
#start:hover{
    background: rgb(64, 76, 90);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.400);
}
/*Hasta acá contenido del timer*/