@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@300;500&family=Questrial&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}

@media (min-width: 768px){ /*Esto hace que el section sea responsive, ni yo sé xq dice main y no section, 
                              pero si dice section se rompe todo, no lo toquen kjjj*/
main {
    width: 95%;
    margin: 25px;
 /*   display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-column: auto;
    gap: 37px; */
}
}

body{
  background-color: rgb(242, 215, 217);
}

.h1, h2{
  font-size: calc(1.325rem + .9vw);
}
h1{
    margin: 15px;
    font-family: 'Fredoka One', cursive;
    color: #395a7b;
}

  .contenedor_logo{
    position: relative;   
    box-sizing: border-box;

    margin-top: 40px;
    margin-left: 170px;
  } 

  .logo {
    text-decoration: none;
    color: rgb(57, 90, 123);
    /* position: absolute; */
    display: inline-block;
    top: 45%; /*45%*/
    left: 15%;
    transform: translate(-50%, -50%);
    background: rgb(205, 125, 132);

    padding: 70px 50px;
    
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    border-radius: 50%;
    animation: animacion 4s linear infinite;
} 

 @keyframes animacion {
   0% {
     box-shadow: 0 0 0 0 rgba(29, 171, 209, .6),  0 0 0 0 rgba(29, 171, 209, .6);
   }
 
   30% {
     box-shadow: 0 0 0 100px rgba(29, 171, 209, 0), 0 0 0 0 rgba(29, 171, 209, .6);
   }
 
   65% {
     box-shadow: 0 0 0 100px rgba(29, 171, 209, 0), 0 0 0 30px rgba(29, 171, 209, 0);
   }
 
   100% {
     box-shadow: 0 0 0 0 rgba(29, 171, 209, 0), 0 0 0 30px rgba(29, 171, 209, 0);
   }

 } 
 /*Animación que dice Mimo*/
 



.queEsMimo {
  width: 50rem;/*65%*/
  height: 15rem;
  background-color: #d3cedf;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 3px 3px 5px 5px #666;

}


/*-----------------------REPRODUCTOR-------------------------*/



/* Player */
.player {
  /*min-width: 10;*/
  width: 20rem;
  background-image: linear-gradient( #D3CEDF,#F2D7D9);
  border-radius: 1rem;
  padding: 2rem;
  color: #F47C7C;
  box-shadow: 2px 2px 3px #666;
}

/* Title */
.title {
  margin-top: 0;
  text-align: center;
 
}

/* Cover */
.cover {
/*  width: 128px;
  height: auto;*/
  width: 200px;
  height: 200px;
  border-radius: 100px;
  display: block;
  margin: 0 auto 1rem auto;
}

/* Progress */
.progress-container {
  height: .6rem;
  background-color: #748DA6;
  margin-bottom: 1rem;
  
}

.progress {
  background-color: #FF7396;
  width: 0;
  height: 100%;
}

/* Controls */
.controls {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.controls button {
  background-color: transparent;
  border: none;
}

.controls i {
  font-size: 1.7rem;
  color: #748DA6;
}

/* Songs */
.songs {
  margin: 0;
  padding: 0;
  list-style: none;
 
}

.songs li {

  margin-bottom: 1rem;


}

.songs a {
  color: #FF7396;
  font-size: 1.7rem;
  font-weight: 700;
  text-decoration: none;
}

.songs a.active {
  color: #748DA6;
  font-weight: bold;
}

/*------------NEWSLETTER--------------*/

#newsletter{
  width: 600px;
  height: 200px;

  background-color: #e4a6aba8;
  box-shadow: 3px 3px 5px 5px #D3CEDF;
  border-radius: 50px;
}

#titulo-news{
  color: #FF7396;
  font-weight: bold;
  padding-left: 11%;
  padding-top: 1%;
  margin-bottom: 0;

}

#div-form{
  display: grid;
  grid-template-columns: 40% 60%;
  
}
#newsletter label{
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
  margin-top: 4%;
}
#newsletter input{
  width: 90%;
  background-color: #d3cedf;
  font-size: 20px;
  color:#FF7396;
  padding: 3%;
  border: none;
  border-radius: 5px;
  
}
.fa-heart , .fa-envelope{
  margin: 4%;
  color: #FF7396;
}

#nombre{
  margin-bottom: 10px;
}

#img-news{
  width: 60%;
  margin-left: 20%;
  margin-top: 4%;
}

#btn-news{
  width: 25%;
  color: #FF7396;
  background-color:#d3cedf;
  border-radius: 6px;
  border: 1px outset hsla(345, 100%, 73%, 0.452);
  margin-top: 3%;
  margin-left: 37%;
}

/*--------------------- TIMER--------------------*/


/* Elementos da tag <body> 
body{
  background-color: rgb(211, 167, 184);
  color: rgb(255, 255, 255);
  font: normal 14pt Arial;
  text-align: center;


  
} */

/* Elementos con ID "main_section" */
#main_section{
  background-color: #f7e9b7;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.600);
  border-radius: 50px;
  
  color: rgb(74, 80, 165);

  width: 300px;
  padding: 15px;
  margin: auto;




  text-align: center;
  font: normal 14pt 'Questrial';
}

/* Elementos con ID "hours", "minutes" y "seconds" */
#hours, #minutes, #seconds{
  cursor: auto;
  border-radius: 10px;

}

/* Elementos con ID "start" */
#start{
  background: rgb(90, 130, 184);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.400);

  border: 300px;
  border-radius: 30px;

  width: 80px;
  height: 35px;
  margin-top: 5px;

  color: rgb(255, 255, 255);
  font-size: 12pt;

  cursor: pointer;
}

/* Elementos con ID "start" no estado de pseudoclasse "hover" */
#start:hover{
  background: rgb(64, 76, 90);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.400);
}

.div-horas, .div-minutos, .div-segundos {
  margin: 2px;
  padding: 6px;
  
}
h6{
  font-family: 'Fredoka One', cursive;
    color: #395a7b;
    font-size: 20px;
}
/*----------------------------------------------------------------------------------------------------------*/

.playlist-celi{
  
}

