@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@300;500&family=Questrial&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}

@media (min-width: 768px){ /*Esto hace que el section sea responsive, ni yo sé xq dice main y no section, 
                              pero si dice section se rompe todo, no lo toquen kjjj*/
main {
    width: 95%;
    margin: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-column: auto;
    gap: 94px;
}
}

body{
  background-color: rgb(242, 215, 217);
}

.h1, h2{
  font-size: calc(1.325rem + .9vw);
}
h1{
    margin: 15px;
    font-family: 'Fredoka One', cursive;
    color: #395a7b;
}

/*.logo { /*Animación que dice Mimo
    text-decoration: none;
    color: rgb(57, 90, 123);
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    background: rgb(205, 125, 132);
    padding: 70px 50px;
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    border-radius: 50%;
    animation: animacion 4s linear infinite;
  }*/
  .logo {
    text-decoration: none;
    color: rgb(57, 90, 123);
    position: absolute;
   
    top: 45%; /*45%*/
    left: 15%;
    transform: translate(-50%, -50%);
    background: rgb(205, 125, 132);
    padding: 70px 50px;
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    border-radius: 50%;
    animation: animacion 4s linear infinite;
}
 @keyframes animacion {
   0% {
     box-shadow: 0 0 0 0 rgba(29, 171, 209, .6),  0 0 0 0 rgba(29, 171, 209, .6);
   }
 
   30% {
     box-shadow: 0 0 0 100px rgba(29, 171, 209, 0), 0 0 0 0 rgba(29, 171, 209, .6);
   }
 
   65% {
     box-shadow: 0 0 0 100px rgba(29, 171, 209, 0), 0 0 0 30px rgba(29, 171, 209, 0);
   }
 
   100% {
     box-shadow: 0 0 0 0 rgba(29, 171, 209, 0), 0 0 0 30px rgba(29, 171, 209, 0);
   }

 } /*Animación que dice Mimo*/
 
 /*.queEsMimo { /*Este es el section de la importancia de mimo, y de cualquier otro section
    background-color: #d3cedf;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px 5px #666;
    display: block;
}*/


.queEsMimo {
  width: 50rem;/*65%*/
  height: 15rem;
  background-color: #d3cedf;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 3px 3px 5px 5px #666;

}


/*-----------------------REPRODUCTOR-------------------------*/



/* Player */
.player {
  /*min-width: 10;*/
  width: 20rem;
  background-image: linear-gradient( #D3CEDF,#F2D7D9);
  border-radius: 1rem;
  padding: 2rem;
  color: #F47C7C;
  box-shadow: 2px 2px 3px #666;
}

/* Title */
.title {
  margin-top: 0;
  text-align: center;
 
}

/* Cover */
.cover {
/*  width: 128px;
  height: auto;*/
  width: 200px;
  height: 200px;
  border-radius: 100px;
  display: block;
  margin: 0 auto 1rem auto;
}

/* Progress */
.progress-container {
  height: .6rem;
  background-color: #748DA6;
  margin-bottom: 1rem;
  
}

.progress {
  background-color: #FF7396;
  width: 0;
  height: 100%;
}

/* Controls */
.controls {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.controls button {
  background-color: transparent;
  border: none;
}

.controls i {
  font-size: 1.7rem;
  color: #748DA6;
}

/* Songs */
.songs {
  margin: 0;
  padding: 0;
  list-style: none;
 
}

.songs li {

  margin-bottom: 1rem;


}

.songs a {
  color: #FF7396;
  font-size: 1.7rem;
  font-weight: 700;
  text-decoration: none;
}

.songs a.active {
  color: #748DA6;
  font-weight: bold;
}

